<div class="jumbotron">
  <h1 id="header">Locker Dashboard</h1>
  <p id="welcome">Edit Locker <%= @locker.ref%> </p>
</div>

<%= link_to '<button type="button" class="btn btn-danger btn-xs">Delete Locker</button>'.html_safe, 
	@locker, method: :delete, data: { confirm: "You sure?"} %>	
<br><br>

<%= simple_form_for @locker do |f| %>
  <%= f.input :ref %>
  <%= f.input :floor %>
  <%= f.input :location %>
  <%= f.input :size %>
  <%= f.input :status, disabled: true %>
  <%= f.input :shared, disabled: true %>
  <%= f.button :submit %>
<% end %>
			

	





			
		

