
<div class="jumbotron">
  <h1 id="header">Locker Dashboard</h1>
  <p id="welcome">Create a New Locker</p>
</div>
<br>

<%= simple_form_for @locker, url: locker_index_path do |f| %>
	<%= f.error_notification %>
		
	<%= f.input :locker_id, error: 'Locker ID is mandatory, please specify' %>
	<%= f.input :floor, error: 'Floor is mandatory, please specify' %>
	<%= f.input :location, error: 'Location is mandatory, please specify'%>
	<%= f.input :size,  error: 'Size is mandatory, please specify' %>
	<%= f.hidden_field :status, value: "Free" %>
	<%= f.hidden_field :shared, value: "false" %>
	<%= f.button :submit %>

<% end %> 