
<div class="jumbotron">
  <h1 id="header">Locker Dashboard</h1>
  <p id="welcome">Locker Details</p>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
  	<h3 class="panel-title">Locker <%= @locker.ref%></h3>
  </div>

	<table class="table">
		<tr>
			<th>Floor no.</th>
			<th>Location</th>
			<th>Size</th>
			<th>Status</th>
			<th>Shared</th>
			<% if current_user.admin? %>
				<th></th>
			<% end %>
	</tr>

	<tr>
		<td><%= @locker.floor %></td>
		<td><%= @locker.location %></td>
		<td><%= @locker.size %></td>
		<td><%= @locker.status %></td>
		<% if @locker.shared == false %>
			<td>No</td>
		<% else %>
			<td>Yes</td>
		<% end %>
		<% if current_user.admin? %>
			<td>
				<%= link_to '<button type="button" class="btn btn-primary btn-xs">Edit Locker</button>'.html_safe,
					edit_locker_path(@locker) %>
			</td>
		<% end %>

	</tr>
	
</table>
</div>


<div class="col-lg-6 col-xs-6 col-md-6" style="padding-left: 0px;"> 
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Assigned Users</h3>
  </div>
  <table class="table">	

  	<% @assigned_users.each do |assigned_user| %>
    	<tr>
  					<td style="padding-right: 15px; padding-bottom: 10px;"><%= assigned_user.email %></td>	
					<td>
						<%= link_to '<button type="button" class="btn btn-danger btn-xs">Delete</button>'.html_safe,
						locker_remove_user_path(assigned_user) %>	
							
					</td>
				</tr>
    <% end %>
    
    </table>
</div>
</div>

<div class="col-lg-6 col-xs-6 col-md-6" style="padding-right: 0px"	> 
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Add user to Locker</h3>
  </div>
  <div class="panel-body" >	
		<%= simple_form_for @locker do |f| %>
			<%= f.collection_select :users, @users, :id, :email , {:include_blank => 'Please Select'} %>	
			<%= f.submit %>
		<% end %>
  </div>
</div>
</div>
<br>