<div class="jumbotron">
  <h1 id="header">Locker Dashboard</h1>
  <p id="welcome">My Account Details</p>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th>Type</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Locker</th>
			
		</tr>
	</thead>

	<tbody>
		<tr> 
			<td><a href= <%=edit_user_registration_path%> class="btn btn-primary btn-xs" role="button">Edit</a></td>
			<% if current_user.admin == true %>
				<td>Admin</td>
			<% else %>
				<td>Standard</td>
			<% end %>
	
			<td><%= current_user.firstname %></td>
			<td><%= current_user.lastname %></td>
			<td><%= current_user.email %></td>
			
			<% if !@locker.nil? %>
				<td><%= @locker.ref %></td>
			<% else %>
				<td>--</td>
			<% end %>
		</tr>

	</tbody>
</table>